.dark {
  --background: #252525;
  --foreground: var(--alabaster);
  --card: #252525;
  --card-foreground: var(--alabaster);
  --popover: #252525;
  --popover-foreground: var(--alabaster);
  --primary: var(--alabaster);
  --primary-foreground: #252525;
  --secondary: #252525;
  --secondary-foreground: var(--alabaster);
  --muted: #252525;
  --muted-foreground: var(--alabaster);
  --accent: #252525;
  --accent-foreground: var(--alabaster);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--alabaster);
  --input: var(--alabaster);
  --ring: var(--alabaster);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: #252525;
  --sidebar-foreground: var(--alabaster);
  --sidebar-primary: var(--alabaster);
  --sidebar-primary-foreground: #252525;
  --sidebar-accent: #252525;
  --sidebar-accent-foreground: var(--alabaster);
  --sidebar-border: var(--alabaster);
  --sidebar-ring: var(--alabaster);
}
