.react-flow__controls {
  --xy-controls-button-background-color-default: #252525;
  --xy-controls-button-background-color-hover-default: #3a3a3a;
  --xy-controls-button-border-color-default: #f5f5f510;
  --xy-controls-button-color-default: #f5f5f5;
  --xy-controls-button-color-hover-default: #f5f5f5;
  box-shadow: 0 0 0 1px #f5f5f5;
}
